.formContent {
  display: flex;
  padding: 10px 5px;

  .form-row {
    width: 50%;
    padding: 10px;

    .form-input {
      width: 100%;
      position: relative;
      padding-bottom: 20px;
      label {
        display: block;
        font-size: 12px;
        margin: 5px 0;
      }

      input, select {
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        &:focus {
          outline: none;
        }
      }

      input~span{
        color: red;
        font-size: 10px;
      }

      select{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.formButton {
  .btnRegister {
    background-color: green;
    margin-right: 5px;

    &:hover {
      background-color: rgba(3, 84, 3);
    }
  }

  .btnUpdate {
    background-color: #009dff;

    &:hover {
      background-color: #0069ab;
    }
  }
}